/* ../Styles/Slider.css */

.custom-next-arrow,
.custom-prev-arrow {
  background-color: #393e46; /* Warna latar belakang tombol */
  color: #eeeeee; /* Warna teks tombol */
  border: none;
  border-radius: 50%; /* Untuk membuat bentuk bulat */
  padding: 10px; /* Atur ukuran padding sesuai keinginan */
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 99;
  transform: translateY(-50%);
  opacity: 0;
  font-size: 18px; /* Atur ukuran font sesuai keinginan */
  transition: all 0.3s ease; /* Tambahkan animasi transisi */
}

.custom-prev-arrow {
  left: 10px; /* Sesuaikan posisi tombol kiri */
}

.custom-next-arrow {
  right: 10px; /* Sesuaikan posisi tombol kanan */
}

.slider-item:hover .custom-next-arrow {
  opacity: 1;
  padding: 13px;
  transform: translateY(-50%) translateX(30px);
}

.slider-item:hover .custom-prev-arrow {
  opacity: 1;
  padding: 13px;
  transform: translateY(-50%) translateX(-30px);
}

.skeleton-container {
  height: 370px; /* Set the height as needed */
  width: 100%;
  position: relative;
}

/* Skeleton Loading Styles */
.skeleton-container {
  animation: loading 1.5s infinite;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  border-radius: 5px;
}

@keyframes loading {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@media (max-width: 600px) {
  .custom-prev-arrow,
  .custom-next-arrow {
    font-size: 8px; /* Ubah ukuran font sesuai keinginan pada layar kecil */
  }
  .skeleton-container {
    height: 135px; /* Set the height as needed */
    width: 100%;
    position: relative;
  }
}
